@font-face{
    font-family: 'Kruti Dev';
    src: url('fonts/KrutiDev010.ttf') format('truetype');
}

@font-face{
    font-family: 'Nirmala UI';
    src: url('fonts/Nirmala.ttf') format('truetype');
}